:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #dff8fc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  padding-left: 20px; /* Adjust as needed */
}

li {
  margin-bottom: 5px; /* Adjust spacing between items */
}

.no-margin {
  margin: 0;
}

.close-top {
  margin-top: -1px;
  margin-bottom: 6px;
}
.row {
  flex-direction: row;
  margin-bottom: 10px;
}

.donation {
  background-color: rgb(236, 236, 236);
  color: black;
  border-radius: 5px; 
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Lexend Deca', sans-serif;
  color: #014c8a;
  justify-content: flex-start;
  background-color: #dff8fc;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.main-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  right: 100px;
}

.container { 
  display: flex;
  flex-direction: column;
}

.scam-title {
  margin-top: 1px; 
  background-color: orange; 
  color: white;
  border-radius: 10px; 
  padding: 10px;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}

button {
  padding: 0.6em 1.2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #fdfcc2;
  }
}
