:root {
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #035eb3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  color: #014c8a;
  justify-content: flex-start;
  background-color: #dff8fc;
  align-items: center;
  height: 1250px;
  width: 100%;
  max-width: 1500px;
  margin: 10px auto;
  border-radius: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  padding-left: 20px; /* Adjust as needed */
}

li {
  margin-bottom: 5px; /* Adjust spacing between items */
}

.no-margin {
  margin: 0;
}

.close-top {
  margin-top: -1px;
  margin-bottom: 6px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  flex-direction: row;
  margin-bottom: 10px;
}

.highlight-misspell {
  position: absolute;
  z-index: 1000;
  border: 1px solid rgb(255, 102, 0);
  background-color: rgba(255, 115, 0, 0.2);
  top: 67.8px; 
  left: 460px; 
  width: 720px; 
  height: 20px;
}

.highlight-ssl {
  position: absolute;
  border: 1px solid rgb(255, 102, 0);
  background-color: rgba(255, 115, 0, 0.2);
  top: 135px; 
  left: 419px; 
  width: 365px; 
  height: 90px;
  z-index: 1000;
}

.highlight-ssl-2 {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgb(255, 102, 0);
  background-color: rgba(255, 115, 0, 0.2);
  top: 63px; 
  left: 429px; 
  width: 30px; 
  height: 30px;
  z-index: 1000;
}

.highlight-p-1 {
  position: absolute;
  border: 1px solid rgb(255, 102, 0);
  background-color: rgba(255, 115, 0, 0.2);
  top: 435px; 
  left: 561px; 
  width: 136px; 
  height: 20px;
  z-index: 1000;
}

.highlight-p-2 {
  position: absolute;
  border: 1px solid rgb(255, 102, 0);
  background-color: rgba(255, 115, 0, 0.2);
  top: 225px; 
  left: 470px; 
  width: 615px; 
  height: 85px;
  z-index: 1000;
}

.donation {
  background-color: rgb(236, 236, 236);
  color: black;
  border-radius: 5px; 
}

.main-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  right: 100px;
}

.container { 
  display: flex;
  flex-direction: column;
}

.frame-title {
  color: orange;
  margin-top: 1px; 
  border: 7px solid #ff8800;
  border-radius: 10px; 
  padding: 10px;
}

.scam-title {
  margin-top: 1px; 
  background-color: orange; 
  color: white;
  border-radius: 10px; 
  padding: 10px;
}

.red-title {
  margin-top: 1px; 
  background-color: rgb(228, 73, 11); 
  color: white;
  border-radius: 10px; 
  padding: 10px;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}

button {
  padding: 0.6em 1.2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #fdfcc2;
  }
}
